<!-- Template for a single activity -->
<h3>{{aTitle}}</h3>
{{#if instructor}}
	{{#if nrResults }}
        <img src="{{ track }}"/>
		<h4>{{__ "Summary of Results"}}</h4>
        <dl>
            <dt>{{__ "Number of Participants"}}:</dt><dd>{{ nrResults }}</dd>
            <dt>{{__ "Average"}}:</dt><dd>{{ mean }} &percnt;</dd>
            <dt>{{__ "Standard Deviation"}}:</dt><dd>{{ dev }}</dd>
        </dl>
	{{else}}
		<p><b>{{__ "Please upload results!"}}</b></p>
		<p>{{__ "Lines in the file to be uploaded must have the form"}} <em>{{__ "email"}};{{__ "grade"}}</em>
            (<a href="samples/grades.csv">{{__ "Sample file"}}</a>).</p>
		<p>{{__ "Grades must be numbers between 0 and 1, indicating the ratio"}} <em>{{__ "individual score/maximum score"}}</em>.</p>
		<form enctype="multipart/form-data" action="{{action}}" method="POST">
			<!-- MAX_FILE_SIZE muss vor dem Dateiupload Input Feld stehen -->
			<input type="hidden" name="MAX_FILE_SIZE" value="30000" />
			<!-- Der Name des Input Felds bestimmt den Namen im $_FILES Array -->
			<label for="resultsFile">{{__ "File to upload"}}: </label>
			<input name="resultsFile" type="file" />
			<input type="hidden" name="currentActivity" value="{{aId}}"/>
			<input type="submit" value="{{__ 'Send File'}}" />
		</form>
	{{/if}}
{{else}}
    {{#if userRank}}
		<img src="{{ track }}"/>
        <p><img src="images/bluePoint.png">: {{__ "You achieved"}} {{ userGrade }} &percnt; {{__ "of the points possible"}}. {{__ "In the average, participants achieved"}} {{ mean }}&percnt;.</p>
        <p><img src="images/bluePoint.png">: {{__ "You performed better than" }} {{ userRank }} {{__ "of" }} {{ nrResults }} {{__ "participants" }}.</p>
    {{else}}
        <p>{{__ "There are no results available for your email address"}}  {{ userEmail }}.</p>
        <p>{{__ "In the average, participants achieved"}} {{ mean }}&percnt; {{__ "of the points possible"}}.</p>
    {{/if}}
{{/if}}

<form method="get">
	<input type="hidden" name="currentActivity" value="{{aId}}"/>
	{{#if instructor}}
		<button name="deleteActivity" value="delete">{{__ "Delete Activity" }}</button>
	{{/if}}
    <button onclick="window.location='{{cancelTarget}}'; return false;">{{__ "Back"}}</button>
</form>

